<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <div class="header-title">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/header.png" | relative_url }}" alt="{{ site.title | escape }}">
      </a>
    </div>
    

    {%- if page_paths -%}
      <div class="trigger">
        <a class="page-link" href="{{ "/" | relative_url }}/categories/review_bussiness/2023-11-11_privacypolicy.html">プライバシーポリシー</a>　
        <a class="page-link" href="{{ "/" | relative_url }}/categories/review_bussiness/2024-01-01_CapitalSettlement.html">資本金決済</a>　
        <a class="page-link" href="{{ "/" | relative_url }}/categories/review_bussiness/2024-01-01_SpecifiedCommercialTransactions.html">特定商取引</a>　
        <a class="page-link" href="{{ "/" | relative_url }}/categories/review_bussiness/2024-01-01_Credits.html">クレジット</a>
      </div> 
    {%- endif -%}
    
  </div>
</header>
