<div class="sidebar">
    {%- assign pages_with_sort_key = site.pages -%}
    {%- assign map_pages = pages_with_sort_key | map: "last_modified_at" | compact-%}
    {%- assign sorted_pages = map_pages | sort | reverse -%}

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = default_paths | reverse -%}

    <h2>更新履歴</h2>
    <div class="sidebar-contants">
        {%- assign target_checkcount = 0 -%}
        {%- assign displayed_titles = "" | split: "," -%}
        {% assign page_count = site.pages | size %}
            {%- for target_index in (0..5) -%}
                {%- for page_index in (0..page_count) -%}
                    {%- assign target_date = sorted_pages[target_index] | date: "%Y-%m-%d %H:%M:%S %z" -%}
                    {%- assign page_date = site.pages[page_index].last_modified_at | date: "%Y-%m-%d %H:%M:%S %z" -%}
                    {%- if page_date == target_date -%}
                        {%- assign page_title = site.pages[page_index].title -%}
                    {%- if page_title and page_title != "" and page_title != "main.css" -%}
                        {% capture check_displayed %}
                            {% for displayed_title in displayed_titles %}
                                {% if displayed_title == page_title %}
                                yes
                                {% endif %}
                            {% endfor %}
                        {% endcapture %}
                        {%- unless check_displayed contains "yes" -%}
                            <div class="post-link-home-update-title">
                                <a href="{{ site.pages[page_index].url | relative_url }}">
                                {{ page_title | escape }}<br>
                                <span class="sidebar-post-meta">{{ site.pages[page_index].last_modified_at | date: '%Y/%m/%d' }}</span>
                                </a>
                            </div>
                            
                            {%- assign target_checkcount = target_checkcount | plus: 1 -%}
                            {%- assign displayed_titles = displayed_titles | push: page_title -%}
                            {% break %}
                        {%- endunless -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}

            {%- if 5 <= target_checkcount -%}
                {% break %}
            {%- endif -%}
        {%- endfor -%}
    </div>
<br>
    <h2>カテゴリー</h2>
    <div class="sidebar-contants">
        ・<a href="{{ site.baseurl }}/categories/about/" target="_blank">このブログについて</a><br>
        ・<a href="{{ site.baseurl }}/categories/review_bussiness/" target="_blank">規約など</a><br>
        ・<a href="{{ site.baseurl }}/categories/create_game/" target="_blank">制作ゲーム</a><br>
        ・<a href="{{ site.baseurl }}/categories/review_game/" target="_blank">ゲーム攻略</a><br>
    </div>
</div>
