---
layout: default
permalink: /changelog/
---

<div class="home">
  {%- assign pages_with_sort_key = site.pages -%}
  {%- assign map_pages = pages_with_sort_key | map: "last_modified_at" | compact-%}
  {%- assign sorted_pages = map_pages | sort | reverse -%}

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = default_paths | reverse -%}
  

<h2>リリース中のアプリ</h2>
  <dev class="post-link-home-release">
    
    <a class="post-link" href="./categories/create_game/onek/2024-02-12_ONEK_Release.html">
      <img src="./categories/create_game/onek/images/icon.png" alt="" />
      [ONE K]についてはこちら
    </a>
  </dev>

<br>
<hr>
<br>

<h2> 特集記事一覧 </h2>
他の記事はサイドバーの「カテゴリー」より選んでください。  
<h3>
  <div class="post-link-home-title">
    <a class="post-link" href="./categories/review_game/special_wanttobuy.html">
      <img class="thumbnail" src="./categories/review_game/images/2024-01-29-13-32-40.png" alt="" />
      ゲーム購入攻略状況

    </a>
  </div>
  </h3>
  
<br>

<h3>
<div class="post-link-home-title">
  <a class="post-link" href="./categories/about/2024-01-01_happynewyear.html">
    <img class="thumbnail" src="./categories/about/images/2024-01-07-17-43-39.png" alt="" />
    2024年　明けましておめでとうございます
  </a>
</div>
</h3>

<br>

<h3>
  <div class="post-link-home-title">
    <a class="post-link" href="./categories/create_game/2024-01-09_sm_purchase.html">
      <img class="thumbnail" src="./categories/create_game/images/2024-01-09-09-06-39.png" alt="" />
      [プログラムメモ]スマホアプリの課金テスト
    </a>
  </div>
</h3>

<br>

<h3>
  <div class="post-link-home-title">
    <a class="post-link" href="./categories/create_game/2024-01-01_appreview.html">
      <img class="thumbnail" src="./categories/create_game/images/2024-12-18-12-41-22.png" alt="" />
      ゲームリリースプラットフォーム リリース要件
    </a>
  </div>
</h3>

<br>

<h3>
<div class="post-link-home-title">
  <a class="post-link" href="./categories/about/2023-11-28-init.html">
    <img class="thumbnail" src="./categories/about/images/pose_kesshin_man.png" alt="" />
    このサイトについて
  </a>
</div>
</h3>
</div>
