---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>


    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y/%m/%d" -%}
        {{ page.date | date: "%Y/%m/%d" }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var checkboxes = document.querySelectorAll('.task-list-item-checkbox');
          checkboxes.forEach(function(checkbox) {
            checkbox.removeAttribute('disabled');
          });
        });
      </script>
  </header>
  
  <p style="text-align: right;">最終更新日: {{ page.last_modified_at | date: "%Y/%m/%d" }}</p>
  <br>
  {%- if page.thumbnail != "" -%}
  <img src="{{ page.thumbnail }}" alt="image" width="500" style="display: block; margin: auto;"/>  
  <br>
  {%- endif -%}
  
  {%- if page.toc -%}
    <h3>目次</h3>
    <div class="post-content e-content" itemprop="articleBody">
      {{ content | toc }}
    </div>
  {%- else -%}
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
